# Tuple
- A tuple is a sequence of immutable Python objects.
- Tuples are sequences, just like lists (behave like read-only list).
- The main difference between the tuples and the lists is that the tuples cannot be changed unlike lists.
- Tuples use parentheses, whereas lists use square brackets.

### Tuple Creation
- Creating a tuple is as simple as putting different comma-separated values.
- Optionally, you can put these comma-separated values between parentheses also.
- Like string indices, tuple indices start at 0, and they can be sliced, concatenated, and so on.

In [1]:
# The empty tuple is written as two parentheses containing nothing −
tup1 = ();

tup2 = ('a', "b", 10, 20.01, True)
tup3 = (1, 2, 3, 4, 5)
tup4 = 1, "a", 2.5, True, 'b'

# To write a tuple containing a single value you have to include a comma, even though there is only one value −
tup5 = (50,)

print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

()
('a', 'b', 10, 20.01, True)
(1, 2, 3, 4, 5)
(1, 'a', 2.5, True, 'b')
(50,)

#### No Enclosing Delimiters
No enclosing Delimiters is any set of multiple objects, comma-separated, written without identifying symbols, i.e., brackets for lists, parentheses for tuples, etc., default to tuples.

In [2]:
a, b = 10, 15
t = 10, 15
print(type(t))

<class 'tuple'>

In [3]:
# Example: Parameters and return values of a function
import sys

def func(*args):
    print(type(args))
    return 1, 2, 3

print(type(func("a", "b", "c")))

<class 'tuple'>
<class 'tuple'>

### Basic Tuples Operations
Tuples respond to the + and * operators much like strings; they mean concatenation and repetition here too, except that the result is a new tuple, not a string.

In [4]:
# Concatenation
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [5]:
# Repetition
('Hi!',) * 4

('Hi!', 'Hi!', 'Hi!', 'Hi!')

In [6]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple + (6, 7)

(1, 2, 3, 4, 5, 6, 7)

In [7]:
my_tuple

(1, 2, 3, 4, 5)

In [8]:
my_tuple += (6, 7)
my_tuple

(1, 2, 3, 4, 5, 6, 7)

In [9]:
# Membership
3 in my_tuple

True

In [10]:
3 not in my_tuple

False

In [11]:
# Iteration
for x in my_tuple:
    print (x, end=" ")

1 2 3 4 5 6 7

### Accessing Values in Tuples (Indexing & Slicing)
Since tuples are sequences, indexing and slicing work the same way for tuples as they do for strings/lists. To access values in tuple, use the square brackets for slicing along with the index or indices to obtain the value available at that index.

In [12]:
lang = ('C', 'C++', 'Java', 'JavaScript', 'Perl', 'PHP', 'Python', 'Ruby')
print(lang[2])
print(lang[-2])
print(lang[3:5])
print(lang[5:])
print(lang[:5])
print(lang[-6:-2])
print(lang[:-2])
print(lang[-6:])
print(lang[1:5:2])
print(lang[6:2:-1])
print(lang[-6:-2:2])
print(lang[-2:-7:-1])
print(lang[::-1])

Java
Python
('JavaScript', 'Perl')
('PHP', 'Python', 'Ruby')
('C', 'C++', 'Java', 'JavaScript', 'Perl')
('Java', 'JavaScript', 'Perl', 'PHP')
('C', 'C++', 'Java', 'JavaScript', 'Perl', 'PHP')
('Java', 'JavaScript', 'Perl', 'PHP', 'Python', 'Ruby')
('C++', 'JavaScript')
('Python', 'PHP', 'Perl', 'JavaScript')
('Java', 'Perl')
('Python', 'PHP', 'Perl', 'JavaScript', 'Java')
('Ruby', 'Python', 'PHP', 'Perl', 'JavaScript', 'Java', 'C++', 'C')

### Updating Tuples
Tuples are immutable, which means you cannot update or change the values of tuple elements.
```python
# Following action is not valid for tuples
my_tuple = (1, 2, 3, 4, 5, 6, 7)
my_tuple[2] = -3
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-15-4f8af9e6d315> in <module>()
      1 my_tuple = (1, 2, 3, 4, 5, 6, 7)
----> 2 my_tuple[2] = -3

TypeError: 'tuple' object does not support item assignment
```

### Delete Tuple Elements
Removing individual tuple elements is not possible.
```python
# To explicitly remove an entire tuple, just use the del statement.
my_tuple = (1, 2, 3, 4, 5, 6, 7)
del my_tuple
print (my_tuple)
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-22-205269a00501> in <module>()
      2 my_tuple = (1, 2, 3, 4, 5, 6, 7)
      3 del my_tuple
----> 4 print (my_tuple)

NameError: name 'my_tuple' is not defined
```

### Packing and Unpacking Tuples

In [13]:
# Packing
t = 1, 2.5, 'hello!', True

# Unpacking
w, x, y, z = t
print(w, x, y, z)

1 2.5 hello! True

### Nested Tuples

In [14]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
nested_tuple

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [15]:
nested_tuple[2][1]

8

In [16]:
nested_tuple[2][1:]

(8, 9)

In [17]:
nested_tuple[:2][1]

(4, 5, 6)

In [18]:
mixed1 = ([1, 2, 3], [4, 5, 6], [7, 8, 9])
mixed1

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [19]:
mixed1[:2][1]

[4, 5, 6]

In [20]:
mixed2 = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
mixed2

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [21]:
mixed2[:2][1]

(4, 5, 6)

### Built-in Tuple Functions
Python includes the following tuple functions:
- `len(tuple)`: Gives the total length of the tuple.
- `max(tuple)`: Returns item from the tuple with max value.
- `min(tuple)`: Returns item from the tuple with min value.
- `tuple(seq)`: Converts a list into tuple.

In [22]:
str_tuple = tuple("String")
print(str_tuple)
my_tuple = tuple([1, 2, 3, 4, 5, 6, 7])
print(my_tuple)
print(type(my_tuple))
print(len(my_tuple))
print(max(str_tuple))
print(min(str_tuple))

('S', 't', 'r', 'i', 'n', 'g')
(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>
7
t
S

### Tuple Comprehension
Tuple Comprehension is **not supported** in Python. However, generator function can accomplish the same task.

In [23]:
sq = tuple(x*x for x in range(10))
sq

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [24]:
pow2 = tuple(2**x for x in range(10))
pow2

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512)