# Module 04 Python Integration Primer - 03 Python database connectivity

## Note: The MySQL databases and users must already exist before you can use any of the following methods.
### For Windows Users:
Visit the website [MySQL](https://dev.mysql.com/downloads/mysql/) and download **Windows MySQL Installer MSI**
### For Linux Users:
`sudo apt update && sudo apt upgrade`

`sudo apt install mysql-workbench`

### How to connect to MySQL using Python
Python provides several ways to connect to a MySQL database and process data. This article describes three methods.
Before you can access MySQL databases using Python, you must install one (or more) of the following packages:

- MySQL-python: This package contains the MySQLdb module, which is written in C. It is one of the most commonly used Python packages for MySQL.
- mysql-connector-python: This package contains the mysql.connector module, which is written entirely in Python.
- PyMySQL: This package contains the pymysql module, which is written entirely in Python. It is designed to be a drop-in replacement for the MySQL-python package.

#### Type the command for the package you want to install:

To install the MySQL-python package, type the following command:

`pip install MySQL-python`

To install the mysql-connector-python package, type the following command:

`pip install mysql-connector-python`

To install the pymysql package, type the following command:

`pip install pymysql`

### Sample Code:
In your own code, replace *USERNAME* with the MySQL database username, *PASSWORD* with the database user's password, and *DBNAME* with the database name:

```python
hostname = "localhost"
username = "USERNAME"
password = "PASSWORD"
database = "DBNAME"

# Simple routine to run a query on a database and print the results:
def doQuery(con):
    cur = con.cursor()

    cur.execute("SELECT fname, lname FROM employee" )

    for firstname, lastname in cur.fetchall() :
        print firstname, lastname

print("Using MySQLdb…")
import MySQLdb
myConnection = MySQLdb.connect(host=hostname, user=username, passwd=password, db=database)
doQuery( myConnection )
myConnection.close()

print("Using pymysql…")
import pymysql
myConnection = pymysql.connect(host=hostname, user=username, passwd=password, db=database)
doQuery(myConnection)
myConnection.close()

print("Using mysql.connector…")
import mysql.connector
myConnection = mysql.connector.connect(host=hostname, user=username, passwd=password, db=database)
doQuery(myConnection)
myConnection.close()
```

This example creates a series of Connection objects that opens the same database using different MySQL modules. Because all three MySQL modules use the portable SQL database API interface, they are able to use the code in the doQuery() function without any modifications.

When you have a Connection object associated with a database, you can create a Cursor object. The Cursor object enables you to run the execute() method, which in turn enables you to run raw SQL statements (in this case, a SELECT query on a table named employee).

## Demo Code for PyMySQL:

In [1]:
import pymysql

# Open database connection.
connection = pymysql.connect(host="localhost", user="root", passwd="root", db="sakila")

# prepare a cursor object using cursor() method of connection object.
cursor = connection.cursor()

# execute MySQL query using execute() method of cursor object.
cursor.execute("SELECT VERSION()")
version = cursor.fetchall()

print("MySQL version:", version)

# disconnect from server.
connection.close()

MySQL version: (('5.7.20-log',),)

## Program to demonstrate CRUD (create, read, update and delete) operations on database (SQLite/ MySQL) using Python.

### Database Connection
Before connecting to a MySQL database, make sure of the followings:
- MySQL Server is up and running.
- A database (schema) MYTESTDB has been already created using MySQL Workbench.
- MYTESTDB will contain EMPLOYEE table.
- This table will have the following fields EMP_ID, EMP_NAME, EMP_AGE, EMP_EXP and EMP_SALARY.
- User ID "root" and password "root" are set to access MYTESTDB.
- Python module pymysql is installed properly on your machine.

In [2]:
import pymysql

In [3]:
connection = pymysql.connect(host="localhost", user="root", passwd="root", db="MYTESTDB")
cursor = connection.cursor()

### Creating Database Table:

In [4]:
# Drop table if it already exist using execute() method.
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

# Create table as per requirement
sql = """CREATE TABLE `MYTESTDB`.`EMPLOYEE` (
  `EMP_ID` INT NOT NULL,
  `EMP_NAME` VARCHAR(45) NULL,
  `EMP_AGE` INT NULL,
  `EMP_EXP` INT NULL,
  `EMP_SALARY` DECIMAL(10) NULL,
  PRIMARY KEY (`EMP_ID`));"""

cursor.execute(sql)

0

### Insert Operation on the Table:

In [5]:
# Prepare SQL query to INSERT a record into the database.
sql = [];
sql.append("""INSERT INTO EMPLOYEE(EMP_ID, EMP_NAME,EMP_AGE, EMP_EXP, EMP_SALARY)
         VALUES (01, 'Mohan', 20, 2, 20000)""")
sql.append("""INSERT INTO EMPLOYEE(EMP_ID, EMP_NAME,EMP_AGE, EMP_EXP, EMP_SALARY)
         VALUES (02, 'Raj', 21, 3, 30000)""")
sql.append("""INSERT INTO EMPLOYEE(EMP_ID, EMP_NAME,EMP_AGE, EMP_EXP, EMP_SALARY)
         VALUES (03, 'Vaibhav', 23, 4, 40000)""")
sql.append("""INSERT INTO EMPLOYEE(EMP_ID, EMP_NAME,EMP_AGE, EMP_EXP, EMP_SALARY)
         VALUES (04, 'Smriti', 22, 1, 10000)""")
sql.append("""INSERT INTO EMPLOYEE(EMP_ID, EMP_NAME,EMP_AGE, EMP_EXP, EMP_SALARY)
         VALUES (05, 'Ravi', 19, 1, 10000)""")
sql.append("""INSERT INTO EMPLOYEE(EMP_ID, EMP_NAME,EMP_AGE, EMP_EXP, EMP_SALARY)
         VALUES (06, 'Kiran', 25, 5, 50000)""")
try:
    # Execute the SQL command
    for q in sql:
        cursor.execute(q)
    # Commit your changes in the database
    connection.commit()
except:
    # Rollback in case there is any error
    connection.rollback()

### Read Operation on the Table:

In [6]:
sql = """SELECT * FROM EMPLOYEE WHERE EMP_SALARY > 20000"""

try:
    # Execute the SQL command
    cursor.execute(sql)
    
    # Fetch all the rows in a list of lists.
    results = cursor.fetchall()
    for row in results:
        print("ID:",row[0], "Name:", row[1], "Age:", row[2], "Exp:", row[3], "Salary:", row[4])
        
except:
    print("Error: unable to fecth data")

ID: 2 Name: Raj Age: 21 Exp: 3 Salary: 30000
ID: 3 Name: Vaibhav Age: 23 Exp: 4 Salary: 40000
ID: 6 Name: Kiran Age: 25 Exp: 5 Salary: 50000

### Update Operation on the Table:

In [7]:
# Prepare SQL query to UPDATE required records
sql = """UPDATE EMPLOYEE SET EMP_SALARY = EMP_SALARY + 1000  WHERE EMP_EXP > 3"""
try:
    # Execute the SQL command
    cursor.execute(sql)
    # Commit your changes in the database
    connection.commit()
except:
    # Rollback in case there is any error
    connection.rollback()

### Delete Operation on the Table:

In [8]:
# Prepare SQL query to DELETE required records
sql = """DELETE FROM EMPLOYEE WHERE EMP_AGE < 20"""
try:
    # Execute the SQL command
    cursor.execute(sql)
    # Commit your changes in the database
    connection.commit()
except:
    # Rollback in case there is any error
    connection.rollback()

In [9]:
# Closing the Connection
connection.close()